@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
  padding:0;
  background:blue;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
#prespective {
  padding-top:10%;
  width: 200px;
  height: 200px;
  perspective: 600px;
  margin-right:auto;
  margin-left:auto;
}

#cube {
  
  transform: translateZ(-100px)rotateX(-20deg)rotateY(20deg);
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition:.75s cubic-bezier(.22,.79,1,.31);
}

.face {
  background:#000;
  opacity:0.7;
  text-align:center;
  line-height:200px;
  font-size:3em;
  color:#fff;
  font-weight:900;
  position: absolute;
  width: 200px;
  height: 200px;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.faceFront  {
  transform: rotateY( 0deg) translateZ(100px);

}
.faceRight  { 
  transform: rotateY( 90deg) translateZ(100px);

}
.faceBack { 
  transform: rotateY(180deg) translateZ(100px); 

}
.faceLeft{ 
  transform: rotateY(-90deg) translateZ(100px);

}
.faceTop{
  transform: rotateX( 90deg) translateZ(100px);

}
.faceBottom{
  transform: rotateX(-90deg) translateZ(100px);

}
h1{
  overflow:hidden;
  text-align:center;
  font-size:3em;
    color: black;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
  -webkit-user-select: none; /* Safari */        -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
#num{
   color:#00ff22;
  -webkit-text-stroke-color: #00ff22;
  display:inline-block;
  transform:translateY(100%);
}
#note{
  position:fixed;
  top:80%;
  font-size:.95em;
  text-align:center;
  width:100%;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}